<!DOCTYPE html> <html lang="fr">
<head>
	<title>Post it</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css">
	<script src="postit.js" defer></script>
</head>
<body>
	<h1 align="center">Bienvenue sur PostIt !</h1>
	<p>
		Insérer un post-it !
	</p>
	<section id="scriptab">
		Affichage d'un post-it avec JS.
	
		<span id="templateAndOption">
		{% if uid == 0 %}
			<h2 align="center">Connectez-vous :</h2>
			<table class="opt">
				<tr>
					<td>
						<form method="POST" action="/login">
							<input type="text" name="id" placeholder="Identifiant"><br>
							<input type="password" name="pwd" placeholder="Mot de passe"><br>
							<button type="submit" name="login">Connexion !</button>
						</form>
					</td>
				</tr>
				<tr></tr>
				<tr>
					<td align="center">
						OU
					</td>
				</tr>
				<tr>
					<td>
						<form method="POST" action="/signup">
							<button type="submit" name="signup">Creer un compte !</button>
						</form>
					</td>
				</tr>
			</table>
		{% else  %}
			<h2 align="center">Hey {{ name }}</h2>
			<table class="opt">
				<tr>
					<td>
						<form method="POST" action="/logout">
							<button type="submit" name"logout">Déconnexion !</button>
						</form>
					</td>
				</tr>			
			</table>
		{% endif  %}
		</span>
	</section>
</body>
</html>