<!DOCTYPE html> <html lang="fr">
<head>
	<title>Post it</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/s/style.css">
	<!--<script src="/s/postit.js" defer></script>-->
</head>
<body>
	<h1 align="center">Bienvenue sur PostIt !</h1>
	<section id="scriptab">
		{% if uid == 0 %}
		<div class="templateAndOption">
			<h2 align="center">Connectez-vous :</h2>
			<table class="opt">
				<tr>
					<td>
						<form method="POST" action="/login">
							<input type="text" name="id" placeholder="Identifiant"><br>
							<input type="password" name="pwd" placeholder="Mot de passe"><br>
							<button type="submit" name="login">Connexion !</button>
						</form>
					</td>
				</tr>
				<tr>
					<td align="center">
						OU
					</td>
				</tr>
				<tr>
					<td>
						<form method="GET" action="/signup">
							<input type="submit" name="signup" value="Creer un compte !">
						</form>
					</td>
				</tr>
			</table>
		</div>
		{% else  %}
		<script src="/s/postit.js"></script>
		<div class="templateAndOption">
			<h2 align="center">Hey {{ name }}</h2>
			<p>
			Insérer un post-it !
			</p>
			<table class="opt">
				<tr>
					<td>
						<form method="POST" action="/logout">
							<button type="submit" name="logout">Déconnexion !</button>
						</form>
					</td>
				</tr>			
			</table>
		</div>
		{% endif  %}
		{% for data in postit%}
			<table class="{{ data.type }}" style="left : {{ data.x }}px; top: {{ data.y }}px;">
				<tr>
					<td>{{ data.author}} posted :</td>
				</tr>
				<tr>
					<td>{{ data.data }}</td>
				</tr>
				<tr>
          <td>{{ data.date }}</td>
        </tr>
        <tr>
          <td>
						{% if name ==  data.author  %}
            <form method="POST" action="/modifier" class="update">
              <input type="hidden" name="author" value="{{ data.author }}">
              <input type="hidden" name="id" value="{{ data.id }}">
              <input type="text" name="data" value="Modifier">
              <button type="submit" name="update">Modifier</button>
            </form>
          </td>
        </tr>
        <tr>
          <td>
						<form method="POST" action="/effacer" class="delete">
							<input type="hidden" name="author" value="{{ data.author }}">
							<input type="hidden" name="id" value="{{ data.id }}">
							<input type="hidden" name="delete" value="y">
							<button type="submit" name="delete">Supprimer</button>
						</form>
						{% endif %}
            </td>
				</tr>
			</table>
		{% endfor %}
	</section>
</body>
</html>