<!DOCTYPE html>
<html lang="fr">
<head>
	<title>Créer un compte PostIt</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Devenir un membre de PostIt</h1>
  <p>
      Rejoignez la communauté PostIt et partagez vous aussi vos post-it virtuels ! <br>
      Have fun :)<br>
    </p>
  <form method="POST" action="/signup" class = "signup">
    <table class="signup">
        <tr>
          <td>Choisissez votre identifiant :</td>
          <td><input type="text"  required name ="id" placeholder="Identifiant"></td>
        </tr>
        <tr>
          <td>Choisissez votre mot de passe :</td>
          <td><input type="password" required name ="pwd" placeholder="Mot de passe"></td>
        </tr>
        <tr>
          <td><input type="submit" value ="Je crée un compte !"></td>
          <td></td>
        </tr>
      </table>
    </form>
  <form method="POST" action = "/" class = "retour">
    <input type = "submit" value = "Retour à la page d'accueil">
  </form>
</body>
</html>


